// ================= ОТЗЫВЧИВЫЙ ШРИФТ ===========================

@mixin fontStyle(
	$weight,
	$size,
	$line-height,
	$font-family: $primary-font,
	$letter-spacing: normal
) {
	font-weight: $weight;
	font-size: $size;
	line-height: $line-height;
	font-family: $font-family;
	letter-spacing: $letter-spacing;
}

// ================= ОТЗЫВЧИВЫЙ ШРИФТ ===========================

$maxWidth: 1370; // Изменить на нужное
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize * 10 - $mobSize * 10;
	$addMobSize: $addSize + $addSize * 0.7;
	@media screen and (max-width: 767px) {
		font-size: calc(
			#{$mobSize + rem} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
		);
	}
	@media screen and (min-width: 767px) {
		font-size: calc(#{$mobSize + rem} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

// =================== ФЛЕКСБОКС ================================

@mixin flexbox($jc: center, $ai: center) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

// =================== СТИЛИ ШРИФТОВ ДЛЯ font-face ================================

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'),
			url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
