$header-min-height: 60px;

// fonts
$primary-font: 'Graphik', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// animation
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// colors
$colors: (
	'primary-light-color': #ffffff,
	'primary-dark-color': #000000,
	'bg-accent': #ff9c7d,
	'bg-secondary': #fff8e4,
	'decorative-color': #ff6336,
	'background-forms': #e5e5e5,
	'footer-bg-color': #eeeeee,
);

@function getColor($key) {
	@return map-get($colors, $key);
}
